ListaNegra1 = {
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
}

local ListOfBannedPeople = {
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "dbzfinalstand3d",
}
